@model IEnumerable<Evaluacion>
@{
    ViewData["Title"] = "Informacion Alumno";
    Layout ="Simple";
}

<h1>@ViewData["Title"]</h1>

<partial name="ListaObjetoEscuelaSimple"  model="Model"></partial>






