@model IEnumerable<Asignatura>
@{
    ViewData["Title"] = "Informacion Asignatura";
    Layout ="Simple";
}

<h1>@ViewData["Title"]</h1>

<partial name="ListaObjetoEscuelaSimple" model="Model"></partial>




